/* Styles for individual blog posts */

main {
    padding: 40px 0;
}

main h2 {
    font-size: 2.5rem;
    color: #007BFF;
    margin-bottom: 10px;
}

.date {
    font-style: italic;
    color: #666;
    margin-bottom: 20px;
}

main p {
    margin-bottom: 15px;
    line-height: 1.8;
}

/* Dark mode styles for blog posts */
body.dark-mode main h2 {
    color: #66aaff;
}

body.dark-mode .date {
    color: #aaa;
}
